@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .promo {
        min-height: 710px;
        &__wrapper {
            align-items: center;
        }
        &__icon {
            width: 130px;
            font-size: 17px;
        }
    }
    .header {
        .block_hide {
            display: none;
        }
    }
}
@media (max-width: 576px) {
    .promo {
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
}
